/*********** BORING ***************************************************************/

.hamburger--boring .hamburger-inner, .hamburger--boring .hamburger-inner::before, .hamburger--boring .hamburger-inner::after {
  transition-property: none; }

.hamburger--boring.is-active .hamburger-inner {
  transform: rotate(45deg); }
  .hamburger--boring.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0; }
  .hamburger--boring.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg); }


/***** HAMBURGER BASE    ******************************************************************/

.hamburger {
padding: 0;
display: inline-block;
cursor: pointer;
transition-property: opacity, filter;
transition-duration: .1s;
transition-timing-function: linear;
font: inherit;
color: inherit;
text-transform: none;
background-color: transparent;
border: 0;
margin: 0;
overflow: visible; 
}

.hamburger:hover {
opacity: 0.7; 
}

.hamburger.is-active:hover {
opacity: 0.7; 
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #1d274e;
}

.hamburger-box {
width: 40px;
height: 24px;
display: inline-block;
position: relative; 
}

.hamburger-inner {
display: block;
top: 50%;
margin-top: -2px; 
}

.hamburger-inner, 
.hamburger-inner::before, 
.hamburger-inner::after {
width: 40px;
height: 4px;
background-color: #1d274e;
border-radius: 4px;
position: absolute;
transition-property: transform;
transition-duration: 4s;
transition-timing-function: ease; 
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block; 
}

.hamburger-inner::before {
top: -10px; 
}

.hamburger-inner::after {
bottom: -10px; 
}