a { 
  text-decoration: none;
}
a:hover { 
  text-decoration: none;
}

footer#main a { 
  color: $light-color;
}

footer#main a:hover { 
  color: $medium-color;
}

nav.woocommerce-breadcrumb a:hover { 
  text-decoration: underline;
}


form.cart button[name="add-to-cart"] { 
  width:100%;
  margin-top:1rem;
  background-color: gold;
  color: $dark-color;
}


.woocommerce button[name="add-to-cart"] {
  background-color: $dark-color;
  border:1px solid transparent;
  color: $light-color;
}
.woocommerce button[name="add-to-cart"]:hover { 
  background-color: #ffde7a;
  color: $dark-color;
}

