.woocommerce .products-loop div.product.col-6.col-sm-4.col-xl-3 h2.woocommerce-loop-product__title {
  font-size: 1rem;
  margin-top: .5rem;
  text-align: center;
}

.woocommerce .products-loop div.product.col-6.col-sm-4.col-xl-3 span.price {
  font-size: 1rem;
  text-align: center;
  color: #bbb;
}




.woocommerce div.product div.images .flex-control-thumbs {
  margin-top:2rem;}



.product_meta { text-align: center;}


.woocommerce img, .woocommerce-page img {
border-radius: 8px;
}





@media screen and (min-width:992px ){

  .product_meta { 
    text-align: left;
  }

  .woocommerce div.product div.images {
    margin-bottom: 12em;
}


.woocommerce.single #content div.product div.images, .woocommerce.single div.product div.images {
  width: 60%;
}

.woocommerce.single #content div.product div.summary, .woocommerce.single div.product div.summary {
  clear: none;
  width: 38%;
}

}