footer#main { 
  text-align:center;
  margin-top:5rem;
  header { 
    background:#222;
    padding:4rem;
    .logo img { height:2rem;margin-bottom:1rem;}
    .links a { margin-right: .5rem; }
  }
  .copyright { 
    padding:1rem;
    background: #111;
    color:white;
    font-size:.75rem;
  }
}

@media screen and (min-width:992px){

footer#main { 
  margin-top:12rem;
}


  .logo img { height:5rem;margin-bottom:1rem;}
}