body { 
	&.unscrollable {
		overflow: hidden;
	}
}

nav#primary { 
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding:1rem;

	div#logo { 
		display: inline-block;
		position:relative;
		z-index:10;
		a { 
			img { 
				height:30px;
			}
		}
	}

	#mobileMenuBurgerButton { 
		z-index:1001;
		position:relative;
		float:right;
	}

	#primaryMenuWrapper{ 
		position: absolute;
		top:-100000px;
		z-index:11;


		&.show { 
			display: flex;
			top: 0;
			left: 0;
			width: 100vw;
			height: 100vh;
			align-items: center;
			justify-content: center;
			background-color: $light-color;

	
			ul { 
				list-style: none;
				text-align: center;
				padding: 0;

				li {
					a { 
						font-size:1.75rem;
					}
					a:hover { 
						color: $medium-color;
					}
				}
			}
		}
	}
}

	// nav#primary end


@media (min-width: 992px){ 

	nav#primary{ 
		flex-direction:column;
		z-index: 1000001;
		width:100%;
		padding:2rem;
		

		div#logo a img{ 
			height:30px;
			margin-bottom:1.25rem;
		}

		.container { 
			display:flex;
			justify-content: space-between;
			align-items: center;
		}


		#mobileMenuBurgerButton { 
			position:absolute;
			top:-10000px;
		}
				
		#primaryMenuWrapper { 
			position: relative;
			top:0;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		ul#primary_menu { 
			display:flex;
			flex-direction:row;
			list-style:none;
			margin-bottom:0;
			padding-left: 0;
			
			li { 
				margin-right:.5rem;

				a { 
					padding:.5rem;
					transition: background-color 0.1s linear;
					border: 1px solid transparent;
					border-radius: 2px;
				}
				a:hover { 
					background-color: $dark-color;
					color: $light-color;
				}
			}
		}
	}  
}






