// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.

$grid-gutter-width: 0 !default;

$light-color: #FFF;
$medium-color: #16ef8c;
$light-medium-color: lighten($medium-color, 15%) !default;
$dark-color: #09361a;
$super-dark-color: #020e04;

$box-shadow: 0 3px 7px -3px rgba(0,0,0,.2);

$primary : #111;


$box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);

$navigation-padding: 1rem;
$nav-bg-color: $light-color;
$hover-color: $medium-color;
$hover-color-dark: $light-color;
$button-hover: $medium-color;
$button-color: $dark-color;
$anchor-color: $dark-color;


$flaticons : "[class^="flaticon-"]::before,[class*=" flaticon-"]::before,[class^="flaticon-"]::after,[class*=" flaticon-"]::after" ;

