
// Fix billing field wrapper
.woocommerce-input-wrapper {
	width: 100%;
}

// Woocommerce product gallery slider width fix
figure.woocommerce-product-gallery__wrapper { 
  max-width: inherit !important; 
}

// buttons
.woocommerce /*buttons*/{

  // add to cart button color
  #respond input#submit.alt, a.button.alt, button.button.alt, input.button.alt {
    background-color: #0e0b0d;
    color: #fff;
    -webkit-font-smoothing: antialiased;
  }

  .woocommerce-result-count{
    float: none !important;
}

  // single page add to cart button
  button[name="add-to-cart"] { 
    background-color:orange;
  }

}

// star color
.woocommerce .star-rating span {
 color: gold;
}

// notifications
.woocommerce/*notifications*/{

  // notifications::before
  .woocommerce-error::before, 
  .woocommerce-info::before, 
  .woocommerce-message::before {
    font-family: WooCommerce;
    content: '\e028';
    display: inline-block;
    position: absolute;
    top: 1em;
    left: 1.5em;
  }

  // notifications
  .woocommerce-error, 
  .woocommerce-info, 
  .woocommerce-message {
    padding: 1em 2em 1em 3.5em;
    margin: 0 0 2em;
    position: relative;
    background-color: #f7f6f7;
    color: #515151;
    border: 1px solid #a46497;
    border-color: #ddd;
    list-style: none outside;
    width: auto;
    word-wrap: break-word;
    border-radius: 10px;
  }
}

// breadcrumbs
.woocommerce .woocommerce-breadcrumb {
  font-size: .75rem;
  margin:1rem 0;
}

// archive page
.woocommerce.archive /*archives page*/ { 

  .woocommerce-products-header{
    text-align:center;
    margin: 4rem auto;
    h1.woocommerce-products-header__title { 
      text-align:center;
    } 
    .page-description { text-align:center;max-width:600px;margin: 0 auto;}
  }
  // orderby
  .woocommerce-ordering {
    float: none;
    text-align: center;
  
    select {
      vertical-align: top;
      font-size: .75rem;
      display: none;
    }
  
  }

  // results count
  .woocommerce-result-count{
    line-height: 1.5;
    font-size: .75rem;
    line-height: 1.5;
    color:#aaa;
    border-radius: 4px;
    text-align:center;
    display:none;
  }
}

// products loop
.woocommerce .products-loop { 

  &.row { 
    padding-left: .5rem; 
    padding-right: .5rem;
  }

  .col-6.product:nth-child(even) { 
    padding-left:.25rem;
  }
    
  .col-6.product:nth-child(odd) {
    padding-right:.25rem;
  }
    
  .woocommerce div.product {
      padding-top: .5rem;
  }

  // individual product on loop
  div.product.col-6.col-sm-4.col-xl-3 { 

    margin-bottom:2rem; 

    span.onsale {
      left: .5rem;
      top: -1.5rem;
      color: red;
      background:none;
    }
  
    a.woocommerce-LoopProduct-link,
    a.woocommerce-loop-product__link { 
      text-decoration:none; 
    }
  
    h2.woocommerce-loop-product__title {
      font-size:.75rem;
      text-align:center;
      margin-top:.5rem;
     }
    
    .star-rating {
      float:none;
      margin: .5rem auto;
    }
  
    span.price { 
      font-size:.75rem;
      color: #bbb;
      margin-top:.25rem;
      display:block;
      text-align:center;
    }
  
  }

  // add image shadow on product hover
  div.product.col-6.col-sm-4.col-xl-3:hover {
  
    img { 
      box-shadow: 0 1px 2px rgba(0,0,0,0.15);
      transition: all 0.1s ease-in-out;
      transform: scale(1.01); 
    }
  }

}

// single product page
.woocommerce.single { 
  
  // product summary
  div.product div.summary
  {

    p.price {
      color: $primary;
      font-size: 2em;
    }

    .sku_wrapper,
    .posted_in,
    .tagged_as {
      display:block; 
      font-size:.75rem;
    }

    .product_meta {

      a { 
        text-decoration: underline;
      }
      a:hover { 
        text-decoration: none;
      }
      .bold { 

    }

  }

    form.cart div.quantity { 
      display:block;
      float:none;
      width:100%;
    }

    form.cart div.quantity .qty {
      margin-top:.25rem;
      text-align: left;
      width: 100%;
      padding: .25rem .75rem;
    
    }



    form.cart::before {
      content: 'Quantity:';
      display: table;
      font-size:.75rem;
    }
  }

  section.related.products { 
    clear:both;

    h2 { 
      margin-bottom: 1rem;
    }
  }

}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
font-size: .85rem;
font-weight: 100;

}




@media screen and (min-width: 768px) { 

  .woocommerce div.product .woocommerce-tabs ul.tabs li {
    font-size: 1rem;
    font-weight: 100;
    }
    
  //  breadcrumbs
  .woocommerce .woocommerce-breadcrumb {
    font-size: .75rem;
    margin: 0 0 1rem;
  }

  // archives page
  .woocommerce.archive { 
    
    .woocommerce-ordering {
      margin-top:2rem;
    }

    .woocommerce-result-count { 
      //float:right;
      padding: 1rem 0;
    }
  }
  
  // products loop
  .woocommerce .products-loop { 

    &.row{
      
        padding-right: 0;
        padding-left: 0;
        margin-left: -.5rem;
        margin-right: -.5rem;
    }

    .col-6.product:nth-child(even) { 
      padding-left:.5rem;
    }
      
    .col-6.product:nth-child(odd) {
      padding-right:.5rem;
    }


  }

  // single produge page tabs
  .woocommerce.single div.product .woocommerce-tabs {
    
    ul.tabs {

      list-style: none;
      padding: 0 .75rem 0 0;
      margin: 0 0 1.618em;
      overflow: hidden;
      position: relative;
      text-align:right;
  
      li::after, li::before {
        border: 1px solid #d3ced2;
          border-top-width: 1px;
          border-right-width: 1px;
          border-bottom-width: 1px;
          border-left-width: 1px;
        position: absolute;
        bottom: -5px;
        width: 5px;
        height: 5px;
        content: ' ';
        box-sizing: border-box;
      }
  
      li::before {
        left: -5px;
        border-bottom-right-radius: 4px;
        border-width: 0 1px 1px 0;
        box-shadow: 2px 2px 0 #ebe9eb;
      }
  
      li::after {
        right: -5px;
        border-bottom-left-radius: 4px;
        border-width: 0 0 1px 1px;
        box-shadow: -2px 2px 0 #ebe9eb;
      }
  
      li.active {
        background: #fff;
        z-index: 2;
        border-bottom-color: #fff;
      }
  
      li {
        border: 1px solid #d3ced2;
        background-color: #ebe9eb;
        display: inline-block;
        position: relative;
        z-index: 0;
        border-radius: 4px 4px 0 0;
        margin: 0 -5px;
        padding: 0 1em;
        //float: none;
        //clear: right;
      }
      
      li a {
        display: inline-block;
        padding: .5em 0;
        font-weight: 700;
        color: #515151;
        text-decoration: none;
      }
  
    }
    
    ul.tabs::before {
    
      position: absolute;
      content: ' ';
      width: 100%;
      bottom: 0;
      left: 0;
      border-bottom: 1px solid #d3ced2;
      z-index: 1;
    
    }
    
  }

}


@media screen and (min-width: 992px) { 


  // archives page
  .woocommerce.archive { 
    
  // orderby
    .woocommerce-ordering {
      //float: right;
      margin-right:0;
    }

    // results count
    .woocommerce-result-count{ 
      clear: both;
      margin-top: 0;
    }

    ul.page-numbers { 
      margin-top:2rem;
      //float: left;
    }
  }
  
  // products loop
  .woocommerce .products-loop { 
    
    .col-6.product:nth-child(even) { 
      padding-left:.5rem;
    }
      
    .col-6.product:nth-child(odd) {
      padding-right:.5rem;
    }

    div.product {
      margin-top: 1rem;
    }
    
  }

  // single page products
  .woocommerce.single { 

    #content div.product div.images, 
    div.product div.images{
      //float: left;
      width: 62%;
    }
  
    #content div.product div.summary, 
    div.product div.summary{
      //float: right;
      width: 35%;
      clear: none;
    }

  }

  // single page product tabs
  .woocommerce.single div.product .woocommerce-tabs ul.tabs {

    list-style: none;
    padding: 0 -1.75rem 0 0;
    margin: 0 0 1.618em;
    overflow: hidden;
    position: relative;
  
  li.active a {
      color: $primary;
  } 
  
  }

  // single page product tab reviews
  .woocommerce.single #reviews 
  {
    #comments ol.commentlist {
      width:47%;
      //float: left;
    }

    #review_form_wrapper {

      #respond { 
        width: 47%;
        //float:right;
        padding:2rem;
      }
    
    }

  }

}





