
// sparkle styles

  body { font-weight: 100;}

  .post-edit-link { 
    display: none;
  }

  // Some basic padding for all wrappers
  .wrapper {
    padding: $grid-gutter-width 0; }

  // Reset hero wrapper padding to 0
  #wrapper-hero { padding: 0px !important; }

  // Adding basic WordPress classes to pass the WordPress.org tests
  .sticky,
  .gallery-caption,
  .bypostauthor {
    font-size: inherit;
  }

  // Separate sticky wrapper from main content
  .wrapper#wrapper-sticky { border-bottom: 1px solid $gray-300; }

  // Adding some contrast background color to footer full widget
  #wrapper-footer-full,
  #wrapper-static-hero { background-color: $gray-200; }

  // Necessary WP classes
  .wp-caption { font-size: inherit; }

  .wp-caption-text { font-size: inherit; }

  .screen-reader-text { @extend .sr-only; }

  .alignleft {
    float: left;
    margin-right: 1.5em;
  }

  .alignright {
    float: right;
    margin-left: 1.5em;
  }

  .aligncenter { @extend .mx-auto; }

  // Post design
  .entry-footer span { padding-right: 10px; }

  // Limit featured image size to 100%
  img.wp-post-image,
  article img,
  figure,
  img,
  #secondary img {
    max-width: 100%;
    height: auto;
  }

  // Skip to content link
  a.skip-link {
    position: fixed;
    z-index: 1000;
    top: 0px;
    right: 0px;
  }

  // Reset Jumbotron default margin
  .jumbotron { margin-bottom: 0px; }


// Buttons 
.btn-secondary {
  color: black;
  background-color: #fff;
  border-color: #6c757d;
  font-size:100;
}

a { 
  &.button { 
    &.cta { 
      padding:.5rem 1rem;
      border-radius: .25rem;
      text-decoration: none;
      transition: color 0.2s linear;
    }
  }
}

// Pagination
ul.page-numbers,
ul.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  font-size:.75rem;
  margin:1rem 0;

  li a,
  li span {
    padding: .6rem .9rem;
    display:block;
    text-decoration: none; 
    border-top:1px solid #dee2e6;
    border-bottom:1px solid #dee2e6;
    border-right:1px solid #dee2e6;

  }

  li:first-child span.current,
  li:last-child span.current {
    padding: .6rem .9rem;
  }

  li span.current {
    background-color: #fff;
    color: #111;
  }

  li:first-child span.current,
  li:last-child span.current
  {
    border-color:$primary;
  }

  li:first-child span,
  li:first-child a {
    border-left:1px solid #dee2e6;
    border-bottom-left-radius: .25rem;
    border-top-left-radius: .25rem;
  }

  li:last-child span.current,
  li:last-child a {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    border-right:1px solid #dee2e6;
  }

  li:first-child span.current, 
  li:last-child span.current {
  border-color: #999;
  }

  li:last-child span.current { 
    border-left: 1px solid #999;
    margin-left:-1px;
  }

}

#front-page-slider { 
 li { height: 80vh; background-size:cover;}
}
// Blog Page Wrapper
#index-wrapper { 

  img { 
    box-shadow: 0 1px 2px rgba(0,0,0,0.35);
  }

  padding-top: 1rem;

  .site-main { 

    article.type-post:first-child{
      border-top: none;
    }
    
    article.type-post { 

      border-top:1px solid #eee;
      padding: 2rem 0;


      .entry-meta { 
        font-size:.75rem;
        margin-bottom:.5rem;
      }

      .entry-content { 
        margin:1rem auto;
      }

      .comments-link { 
        display:none;
      }
    }
  }
}

// Post Page Wrapper
#single-wrapper { 
  
  padding-top:1rem;

  img { 
    box-shadow: 0 1px 2px rgba(0,0,0,0.35);
    margin: 1rem 0;
  }

  .entry-header { 
    margin-bottom: 1rem;
  }
  
  .entry-meta { 
    font-size: .75rem; 
  }
  nav.container.navigation.post-navigation { 
    display: none;
  }


  #comments.comments-area { 

    margin-top:4rem;

    ol.comment-list { 
      list-style: none;
      padding-left:.5rem;
    }
  }

  #respond.comment-respond {

    padding:.5rem;
    margin-top:2rem;
    border-radius:.25rem;

    label { 
      font-size: .75rem;
    }
    #submit.btn { 
      width:200px;
    }
  }
}

// Whitespace

.woocommerce .woocommerce-breadcrumb,
.woocommerce div.product .woocommerce-product-rating,
.woocommerce.single-product .entry-summary,
.woocommerce.single-product .panel.entry-content.wc-tab,
.woocommerce.single-product .related.products h2,
.woocommerce .woocommerce-ordering,
.woocommerce.archive .woocommerce-products-header,
.entry-title,
.entry-meta,
.entry-content,
ul.pagination,
ul.page-numbers,
nav#primary
{
  padding-left: 1rem;
  padding-right: 1rem;
}

.bricklayer-column { 
  padding-left: 0;
  padding-right: 0;
}






